{% extends 'index.html' %}

{% block maincontent %}
<main>
  <div class="container">
    <div class="section-header mt-3">
      <ol class="breadcrumb">
        <li><a href="{% url 'posts:home' %}">Another blog</a></li>
        &nbsp;/&nbsp;
        <li class="active">Create Post</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form class="" action="{% if object %}
                                {% url 'posts:post_update' object.id %}
                                {% else %}{% url 'posts:post_create' %}
                                {% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
              <input type="submit" id="submit" name="" value="Save" class="btn btn-success">
              <a href="{% url 'posts:home' %}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock maincontent %}

{% block script %}
{% endblock %}
